# Basic
[user]
        name = Drew Fitzpatrick
        email = dfitzpatrick@bignerdranch.com
[core]
        excludesfile = ~/.cider/git/ignore
        attributesfile = ~/.cider/git/attributes
        editor = vim
        autocrlf = input
        pager = less -r
        whitespace = space-before-tab,-indent-with-non-tab,trailing-space
        quotepath = false
        trustctime = false
[alias]
        co = checkout
        count = !git shortlog -sn
        pf = push --force-with-lease
        tickle = commit --amend --no-edit
[credential]
        helper = osxkeychain
[fetch]
        prune = true
[help]
        autocorrect = 1
[push]
        default = upstream
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
